    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    * {
        margin: 0;
        padding: 0;
        font-family: 'Roboto',
        sans-serif;
        font-size: 15px;
    }

    .kotak-dynamic {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 45px 10%;
    }
    
    .kotak {
        width: 300px;
        height: 300px;
        border: 2px solid #000;
        margin-top: 70px;
    }
    
    .dynamic {
        background-color: #ededed;
        border-radius: 20px;
        width: 500px;
        height: 460px;
        box-shadow: 29px 29px 67px #B6BBC4;
    }

    .bg-color {
        margin: 30px 45px;
        display: flex;
        gap: 10px;
    }

    .bg {
        border: 2px solid #000;
        width: 60px;
        height: 20px;
        background-color: #fff;
    }

    .radius,
    .distance,
    .color,
    .intensity,
    .blur {
        margin: 20px 45px;
        display: flex;
        gap: 10px;
    }

    input {
        width: 200px;
    }

    .teks p {
        margin: 0 45px;
    }

    .code {
        color: #3887BE;
        background-color: #181823;
        padding: 20px;
        border-radius: 5px;
        margin: 20px 45px;
    }

    .code p {
        margin: 6px 10px;
    }