    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    * {
        margin: 0;
        padding: 0;
        font-family: 'Roboto',
        sans-serif;
        font-size: 15px;
    }

    .kotak-dynamic {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 30px 10%;
    }
    
    .kotak {
        width: 300px;
        height: 300px;
        border: 2px solid #000;
        margin-top: 100px;
        border-radius: 0;
    }
    
    .dynamic {
        background-color: #ededed;
        border-radius: 20px;
        width: 500px;
        height: 440px;
        box-shadow: 29px 29px 67px #B6BBC4;
    }

    .bg-color {
        margin: 30px 45px;
        display: flex;
        gap: 10px;
    }

    .bg {
        border: 2px solid #000;
        width: 100px;
        height: 20px;
        background-color: #fff;
    }

    .bg p {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin-top: 3px;
    }

    .radius,
    .distance,
    .color,
    .intensity,
    .blur,
    .width,
    .height {
        margin: 20px 45px;
        display: flex;
        gap: 10px;
    }
    
    .radius p,
    .distance p,
    .color p, 
    .intensity  p,
    .blur p,
    .width p,
    .height p {
        font-size: 12px;
    }

    .radius input,
    .distance input,
    .color input,
    .intensity input,
    .blur input,
    .width input,
    .height input {
        width: 400px;
    }


    .teks p {
        margin: 0 45px;
    }

    .code {
        color: #3887BE;
        background-color: #181823;
        padding: 10px;
        border-radius: 5px;
        margin: 20px 45px;
    }

    .code p {
        margin: 6px 10px;
        font-size: 12px;
    }

    .hr1 {
        width: 410px;
        margin: 0 45px;
        margin-top: -10px;
    }

    .hr2 {
        width: 410px;
        margin: 0 45px;
        margin-bottom: 10px;
    }